.coffeeStoryCards{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.CoffeeStory{
  background-color: #F5EFD8;
  padding: 30px;
  text-align: center;
}

.coffeeStoryContentHeadings{
  font-size: 14px;
  padding-bottom: 5px;
}
.coffeeContentPara{
  width: 75%;
  margin: auto;
  font-size: 12px;
}

.coffeeContentImg{
  width: 100%;
  height: 289px;
  margin-top: 20px;
}
    