*{
  margin: 0;
}
.Page{
  background-color: #FCF8E0;
  width: 100%;
}

.headerNav{
  border-radius: 50px;
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LogoImg{
 width: 127px;
}

.navButton{
  background: none;
  border: none;
  font-family: "Didact Gothic", sans-serif;
  font-size: 12px;
}

.buttonCart{
  background-color: #452422;
  color: #fff;
  width: 100px;
  height: 38px;
  padding: 5px 3px;
  border: none;
  border-radius: 50px;
  align-items: center;
}

/* .ImagesSection {
  display: grid;
  grid-template-columns:  25% 25% 25% 25%;
  gap: 5px;
}
.ImagesSection img {
  width: 100%;
} */

.ImagesSection{
 display: flex;
  gap: 2px;

}

.ImagesSection div{
 flex: 1;
}
.ImagesSection div img{
 width: 100%;
 height: 874px;
}

.secondSection{
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
  width: 80%;
  margin: auto;
}

.secondSection h5{
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  font-size: 12px;
}
p{
  font-family: "Didact Gothic", sans-serif;
  font-size: 12px;
}

.thirdSection{
  background-image: url('./assets/storePickupImg.png');
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.storePickupLogo{
  display: block;
  padding: 150px 0 0 45px;
  width: 200px;
}

.storePickupButton{
background-color: #fff;
width: 345px;
border: none;
padding: 10px 0;
font-size: 16px;
}

.storePickupText{
  font-size: 14px;
  margin-top: 5px;
}

.coffeeStorySection{
  width: 80%;
  margin: auto;
}

.coffeeStoryTitle{
  margin: 50px 0;
  font-size: 16px;
}

.giftSection{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  width: 80%;
  gap: 50px;
  margin: auto;
}
.giftSection > div {
  flex: 1;
}
.giftSectionImg{
  width: 100%;
}

.giftSection h5{
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  font-size: 18px;
}
.giftSection p{
  font-family: "Didact Gothic", sans-serif;
  font-size: 12px;
  margin: 10px 0 12px 0;

}

.giftSectionButton{
  background-color: #fff;
  width: 298px;
  height: 34px;
  border: none;
  padding: 10px 0;
  font-size: 14px;
}

.favoriteItemsSection{
  width: 80%;
  margin: auto;
}

.favoriteItemsTitle{
  margin: 50px 0;
  font-size: 16px;
}

.favoriteItemsCards{
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  gap: 50px;
}

.collectionCards{
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  gap: 50px;
  row-gap: 50px;
}

.collectionCards img{
  width: 100%;
  height: 464px;
}

.spaceTop {
  margin-top: 150px;
}


h5{
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  font-size: 14px;
}